node_modules/
app/jspm_packages/
dist/
.DS_Store
.idea/
build/
app/assets/css/
app/env.js
nbproject/
app/assets/js/
app/assets/versioned/
out/
app/assets/fonts/fontawesome*.*
app/assets/fonts/glyph*.*
out/
reports/
eslint-results.html
/npm-debug.log*
coverage/